page-sincope1 {

    .card {
        border-radius: 30px;
        //background-color: aquamarine
        box-shadow: 0 1px 3px rgba(10, 10, 10, 0.534);
        background-color: rgb(127, 153, 202)
        
        }

    .item{
        background-color: rgb(127, 153, 202)
    }

   

}
